body, html {
  height: 100%;
  margin: 0;
  background-color: #FFF5D9;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  box-sizing: border-box;
  padding: 20px; /* Optional padding */
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logo {
  width: 420px; /* Adjust size as needed */
  height: auto;
  margin-bottom: 50px;
  margin-top: -10px;
}

.logobadge {
  width: 150px; /* Adjust size as needed */
  height: auto;
  margin-top: -10px;
  margin-bottom: 30px;
}

.registration-container {
  background-color: #FFEAB1;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  position: relative;
  z-index: 10;
}

.registration-container h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #333333;
  font-size: 28px;
}

.registration-container form {
  display: flex;
  flex-direction: column;
}

.registration-container label {
  margin-bottom: 10px;
  color: #555555;
  font-size: 18px;
}

.registration-container input {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #FFF5D9;
  background-color: #FFF5D9;
  border-radius: 35px;
  font-size: 22px;
  transition: border-color 0.3s;
}

.registration-container input:focus {
  border-color: #DE4636;
  outline: none;
}

.registration-container button {
  padding: 15px;
  background-color: #DE4636;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.registration-container button:hover {
  background-color: #E64A19;
}

#centered-label {
  text-align: center;
}

#centered-label label {
  cursor: pointer;
  color: blue; /* Adjust as needed */
  text-decoration: underline;
}

.background-image {
  position: absolute;
  z-index: 1;
  width: 200px; /* Adjust size as needed */
  height: auto;
}

#avacado {
  top: 10%;
  left: 5%;
}

#borito {
  top: 20%;
  right: 10%;
}

#burger {
  bottom: 15%;
  left: 20%;
}

#coffee {
  top: 5%;
  left: 68%;
  max-width: 150px;
}

#pizza {
  bottom: 10%;
  right: 5%;
}

#strawberry {
  top: 30%;
  left: 20%;
}

#toastie {
  bottom: 24%;
  left: 70%;
}
